{{ define "main" }}

<!-- HERO -->
<section class="hero">

  <div class="hero-left">

    <p class="hero-tag">
      Chemical Engineering @ Carnegie Mellon University
    </p>

    <h1>Ryan Kim</h1>

    <p class="hero-description">
      Process Design • Simulation • Machine Learning • Optimization
    </p>

    <div class="hero-buttons">

      <a class="button" href="/#projects">
        View Projects
      </a>

      <a class="button secondary-button" href="/about/">
        About Me
      </a>

    </div>

  </div>

  <div class="hero-right">

    <img
      src="/images/process-bg.gif"
      alt="Process Engineering Graphic"
    >

  </div>

</section>

<!-- Biography -->
<section class = "section">
  <h2> Gallery </h2>
  <p class="section-text">
    Type here
  </p>
</section>

<!-- FEATURED PROJECTS -->
<section class="section" id="projects">
  <h2>Projects</h2>

  <div class="grid">
    {{ $projects := where .Site.RegularPages "Section" "projects" }}

    {{ range first 10 $projects }}
        <a class = "card" href = "{{ .RelPermalink }}">
          <!-- thumbnail image -->
          {{ if .Params.image }}
              <img 
                class = "card-thumb" 
                src = "{{ .Params.image}}" 
                alt = "{{ .Title }}">
          {{ end }}

          <h3>{{ .Title }}</h3>
            {{ if .Params.subtitle }}
              <p>{{ .Params.subtitle }}</p>
            {{ end }}
        </a>
    {{ end }}
  </div>
</section>

<!-- Skills-->
<section class="section">

  <h2>Skills & Technologies</h2>

  <div class="skills-grid">

    <span>Python</span>
    <span>PyTorch</span>
    <span>RDKit</span>
    <span>scikit-learn</span>
    <span>XGBoost</span>

    <span>Aspen Plus</span>
    <span>MATLAB</span>
    <span>NumPy</span>
    <span>pandas</span>

    <span>COMSOL</span>
    <span>SolidWorks</span>

  </div>

</section>

<!-- Contact / Links -->
<section class="section">

  <h2>Contact</h2>

  <div class="contact-links">

    <a href="https://github.com/ryan-h-kim-cheme">
      GitHub
    </a>

    <a href="https://www.linkedin.com/in/ryan-kim-h">
      LinkedIn
    </a>

    <a href="mailto:ryanhkim0418@email.com">
      Email
    </a>

  </div>

</section>
{{ end }}